@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./mixins";

html {
    a:link {
        color: inherit;
        text-decoration: inherit;
    }

    a:active {
        color: inherit;
        text-decoration: inherit;
    }

    a:visited {
        color: inherit;
        text-decoration: inherit;
    }

    a:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    @include mobile-only {
        margin-left: 20px;
        margin-right: 20px;
    }
}