@import "../../sass/variables";

.tags {
    display: flex;
    &__tag{
        display: flex;
        background-color: $mainColor;
        color: white;
        text-align: center;
        font-size: 75%;
        padding: 6px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }
}