@import "../../sass/variables";

.fiche_logement {
    &__header{
        display: flex;
        justify-content: space-between;
        &__right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__collapses{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;

        & div{
            width: 95%;
        }
    }
}

.host {
    margin:5px;
    display: flex;
    align-items: center;
    & p {
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    & img{
        overflow: hidden;
        object-fit: cover;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 25px;
    }
}
