@import "../../sass/variables";

.fiche_logement {
    &__header{
        display: flex;
        justify-content: space-between;
        color: $mainColor;
        &__right{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;
            padding-top: 20px;
        }
    }
    &__collapses{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        &__wrapper {
            width: 49%;
        }
    }
}

.host {
    margin:5px;
    display: flex;
    align-items: center;
    & p {
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        width: 0;
        justify-content: end;
    }
    & img{
        overflow: hidden;
        object-fit: cover;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 25px;
    }
}
