

.home {
    &__list {
        margin-bottom: 30px;
        width: 100%;
        background-color: lightgray;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 10px;
    }
    @include mobile-only {
        &__list {
            background-color: white;
        }
    }
}