@import '../../sass/variables';

.collapse {
    width: 100%;
    margin-bottom: 5px;
    &__head {
        width: 100%;
        background-color: $mainColor;
        border-radius: 5px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & h2 {
            margin: 5px;
        }
    }
    &__text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        position: relative;
        bottom: 25px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: lightgray;
        z-index: -1;
        margin-bottom: -25px;
        & p {
                margin: 5px;
                margin-top: 20px;
                white-space: pre-wrap;
        }
    }
}