@import "../../sass/variables";
@import "../../sass/mixins";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 30px;
    & nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & p {
            margin-left: 30px;
            color: $mainColor;
        }
    }
    .header__link {
        &--underline {
            text-decoration: underline!important;
        }
    }
    @include mobile-only {
        & img {
            width: 40%;
            object-fit: contain;
            
        }
        & nav {
            width: 60%;
            display: flex;
            justify-content: flex-end;
            & p {
                height: 100%;
                flex-wrap: nowrap;
                font-size: 4vw;
                margin-left: 10%;
                text-transform: uppercase;
            }
        }
    }
}