@import "../../sass/variables";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    & div {

    }
    & nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & p {
            margin-left: 30px;
            color: $mainColor;
        }
    }
}